all:
  hosts:
    localhost:
      ansible_connection: local
      ansible_python_interpreter: /usr/bin/python3
  vars:
    k3s_version: "v1.31.4+k3s1"
    k3s_server_args: >-
      --disable traefik
      --write-kubeconfig-mode 644
